[Unit]
Description=Etherboy
After=network.target

{% set peers=[] %}
{% for host in groups['launched'] %}
  {% if hostvars[host]['private_ip'] != hostvars[inventory_hostname]['private_ip'] %}
    {% set peer = "tcp://" + hostvars[host]['nodekey'] + "@" + hostvars[host]['private_ip'] + ":46656" %}
    {{ peers.append(peer) }}
  {% endif %}
{% endfor %}

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
{% if hostvars[inventory_hostname]['ansible_hostname'] == 'etherboy-t-0' %}
ExecStart=/usr/bin/loom run
{% else %}
ExecStart=/usr/bin/loom run {{ peers|join(',')}}
{% endif %}
Restart=always
RestartSec=2
StartLimitInterval=0
LimitNOFILE=500000
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ hostvars[inventory_hostname]['ansible_hostname'] }}

[Install]
WantedBy=multi-user.target
