[Unit]
Description=Loom
After=network.target

{% set peers=[] %}
{% for host in groups['all'] %}
  {% if hostvars[host]['private_ip'] != hostvars[inventory_hostname]['private_ip'] %}
    {% set peer = "tcp://" + hostvars[host]['nodekey'] + "@" + hostvars[host]['private_ip'] + ":46656" %}
    {{ peers.append(peer) }}
  {% endif %}
{% endfor %}

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ working_directory }}
ExecStart=/usr/bin/loom run {{ peers|join(',')}}
Restart=always
RestartSec=2
StartLimitInterval=0
LimitNOFILE=500000
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
